.container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #dcddf7;
  text-shadow: 2px 1px 1px rgb(61, 61, 175);
}

input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  max-width: 340px;
  width: 60%;
  border-radius: 20px 0 0 20px;
  font-size: 1.2rem;
  margin-top: 40px;
}

button {
  border-radius: 0px 20px 20px 0;
  padding: 10px;
  font-size: 1.2rem;
  background-color: rgb(55, 55, 177);
  color: #dcddf7;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: rgb(9, 9, 131);
}
